In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import torch

import utils

In [10]:
data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/fmri.csv")
data['np data'] = [np.ones((3,2)) for _ in range(len(data))]
data['torch data'] = [torch.ones((3,2)) for _ in range(len(data))]
data['tuple data'] = [tuple(['a', 1, 2.0, [1,2,3], (2,3), {'k': 'v'}, torch.ones(2), np.ones(2)]) for _ in range(len(data))]
data['list data'] = [['a', 1, 2.0, [1,2,3], (2,3), {'k': 'v'}, torch.ones(2), np.ones(2)] for _ in range(len(data))]
data['dict data'] = [{str(i): v for i, v in enumerate(['a', 1, 2.0, [1,2,3], (2,3), {'k': 'v'}, torch.ones(2), np.ones(2)])} for _ in range(len(data))]

In [11]:
utils.pd.display(data, verbose=True)
utils.pd.display(data, verbose=False)
utils.pd.display(data, float_format='{:.2f}'.format)